<%- include('../../templates/header'); %>

<div class="row mx-0 mb-4 justify-content-between align-items-center">
    <h5 class="font-weight-bold">Events Page</h5>
    <div>
        <a class="btn btn-primary px-3" href="/events/postevent">Post Events</a>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Title</th>
        <th scope="col">Image</th>
        <th scope="col">Schedule</th>
        <th scope="col">Content</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Ottoman</td>
        <td>Senin, 20 Agustus 2021</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus voluptates vitae accusamus enim, magni eum consequuntur nam animi modi porro at dolores unde ipsa facilis suscipit culpa sequi esse dicta?</td>
        <td>
            <a class="btn btn-primary mr-1 mb-1" href="#">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-danger mr-1 mb-1" href="#">
                <i class="fas fa-trash"></i>
            </a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>Senin, 20 Agustus 2021</td>
        <td>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vel incidunt culpa eius id quisquam itaque obcaecati similique sapiente quasi rerum.</td>
        <td>
            <a class="btn btn-primary mr-1 mb-1" href="#">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-danger mr-1 mb-1" href="#">
                <i class="fas fa-trash"></i>
            </a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>Senin, 20 Agustus 2021</td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, iure incidunt possimus nisi molestias magni dolore obcaecati nihil ea earum tempore sequi reiciendis exercitationem itaque architecto eligendi. Id, voluptatem fugiat asperiores possimus doloremque officiis aut illo natus provident totam corrupti?</td>
        <td>
            <a class="btn btn-primary mr-1 mb-1" href="#">
                <i class="fas fa-pen"></i>
            </a>
            <a class="btn btn-danger mr-1 mb-1" href="#">
                <i class="fas fa-trash"></i>
            </a>
        </td>
      </tr>
    </tbody>
  </table>

<%- include('../../templates/footer'); %>